<h2>Reset password</h2>
<h4>Reset your password.</h4>
<hr />
<div class="col-md-5">
    <form [formGroup]="resetPassForm" novalidate (ngSubmit)="resetPassSend(resetPassForm.controls['resEmail'].value, resetPassForm.controls['resPass'].value,
    resetPassForm.controls['resPassConfirm'].value)">
      <div class="form-group">
        <div class="alert alert-danger" *ngIf="errorMessage">
          {{errorMessage}}
        </div>
        <label>Email</label>
        <input class="form-control" name="email" formControlName="resEmail" />
        <div class="alert alert-danger"
          *ngIf="resetPassForm.controls['resEmail'].invalid && resetPassForm.controls['resEmail'].touched">
          Wrong format!
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" name="password" formControlName="resPass" />
        <div class="alert alert-danger"
          *ngIf="resetPassForm.controls['resPass'].invalid && resetPassForm.controls['resPass'].touched">
          Password field must not be empty!
        </div>
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input class="form-control" type="password" name="password" formControlName="resPassConfirm" />
        <div class="alert alert-danger"
          *ngIf="resetPassForm.controls['resPassConfirm'].invalid && resetPassForm.controls['resPassConfirm'].touched">
          Confirm password field don`t match with password field or empty!
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="resetPassForm.invalid" class="btn btn-outline-dark font-weight-bold">Reset</button>
      </div>
  
    </form>
  </div>