<div>
    <table>
        <tr *ngFor="let item of prodList"  [class.redcolor]="more500(item.price)" [class.greencolor]="less300(item.price)" [style.display] = "showRow(item.category) ? 'block' : 'none'"> 
           <td *ngIf="isMore(item.id)">{{item.id}}</td>
           <td *ngIf="isMore(item.id)">{{item.name}}</td>
           <td *ngIf="isMore(item.id)">{{item.price}}</td>
           <td *ngIf="isMore(item.id)"><button (click)="deleteRow(item)">Delete</button></td>
        </tr>
    </table><br/>
    <select [(ngModel)]="categoryNow">
      <option *ngFor="let item of categoryList">{{item}}</option>
    </select><br/>
    <!-- <p>{{categoryNow}}</p><br/><hr/><br/>
    <ol *ngFor="let item of prodList">
       <li>{{item.id}}</li>
    </ol> -->
</div>
